@import "tailwindcss";

@theme {
  --font-sans: var(--font-inter);

  --color-primary: #FF5533;
  --color-primary-dark: #CC4429;
  --color-secondary: #07153A;

  --color-gray-50: #F9FAFB;
  --color-gray-100: #F3F4F6;
  --color-gray-200: #E5E7EB;
  --color-gray-300: #D1D1D1;
  /* Silver Grey Brand Color */
  --color-gray-900: #07153A;
  /* Using Midnight Blue as the dark text/bg equivalent */
}

@layer base {
  body {
    @apply bg-white text-gray-900;
  }
}