@import "tailwindcss";

@theme {
  --font-sans: var(--font-outfit);

  --color-primary: #C8102E;
  --color-primary-dark: #A00D25;
  --color-secondary: #1A1A1A;
  --color-gray-50: #F9FAFB;
  --color-gray-100: #F3F4F6;
  --color-gray-900: #111827;
}

@layer base {
  body {
    @apply bg-white text-gray-900;
  }
}